<?xml version="1.0" encoding="utf-8"?>
<ExamineLuceneIndexSets xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xsi:noNamespaceSchemaLocation="ExamineIndexSets.xsd">

  <!-- External Index: used for front-end search -->
  <IndexSet SetName="ExternalIndexSet" IndexPath="App_Data/TEMP/ExamineIndexes/External/">
    <IndexUserFields>
      <!-- Add all fields you want to make searchable -->
      <add Name="nodeName" />
      <add Name="title" />
      <add Name="bodyContent" />
      <add Name="mainText" />
      <add Name="description" />
      <add Name="umbracoUrlName" />
    </IndexUserFields>

    <IndexAttributeFields>
      <add Name="id" />
      <add Name="nodeTypeAlias" />
      <add Name="path" />
      <add Name="parentID" />
      <add Name="level" />
      <add Name="creatorID" />
      <add Name="sortOrder" />
      <add Name="createDate" />
      <add Name="updateDate" />
    </IndexAttributeFields>

    <IncludeNodeTypes>
      <!-- Include only specific document types if desired -->
      <!-- <add Name="manualItem" /> -->
    </IncludeNodeTypes>

    <ExcludeNodeTypes />
  </IndexSet>

  <!-- Internal Index: used for backoffice search -->
  <IndexSet SetName="InternalIndexSet" IndexPath="App_Data/TEMP/ExamineIndexes/Internal/">
    <IndexUserFields>
      <add Name="nodeName" />
      <add Name="title" />
      <add Name="bodyContent" />
      <add Name="mainText" />
      <add Name="description" />
      <add Name="umbracoUrlName" />
    </IndexUserFields>

    <IndexAttributeFields>
      <add Name="id" />
      <add Name="nodeTypeAlias" />
      <add Name="path" />
      <add Name="parentID" />
      <add Name="level" />
      <add Name="creatorID" />
      <add Name="sortOrder" />
      <add Name="createDate" />
      <add Name="updateDate" />
    </IndexAttributeFields>

    <IncludeNodeTypes />
    <ExcludeNodeTypes />
  </IndexSet>

</ExamineLuceneIndexSets>
